footer{
  background-color: $azul2;
  color: $branco;
  padding: 35px 0;
  position: relative;
  .sapo{
    position: absolute;
    bottom: calc(100% - 35px);
    right: 80px;
    pointer-events: none;
  }
  .social{
    a{
      display: inline-block;
      margin: 0 7px;
      &:last-child{
        margin-right: 0;
      }
    }
  }
}
