body {
  font-family: 'Work Sans', sans-serif;
}

b,
strong {
  font-weight: 700;
}

@media #{$desktop} {
  .container {
    max-width: 1200px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  &:hover {
    text-decoration: none;
  }
}

.py-6 {
  padding: 60px 0;
}
.py-10 {
  padding: 100px 0;
}

// TAMANHO FONTES

.fw-100 {
  font-weight: 100;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.font-12 {
  font-size: 12px;
}

.font-13 {
  font-size: 13px;
}

.font-14 {
  font-size: 14px;
}

.font-15 {
  font-size: 15px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-19 {
  font-size: 19px;
}

.font-20 {
  font-size: 20px;
}

.font-22 {
  font-size: 22px;
}

.font-25 {
  font-size: 25px;
}

//CORES

.azul{
  color: $azul;
}
.azul2{
  color: $azul2;
}

//BOTÕES
.btn {
  outline: none !important;

  &.btn_branco {
    padding: 10px 50px;
    background-color: $branco;
    color: $azul;
    border-radius: 30px;

    &:hover {
      background-color: $azul2;
    }
  }
  &.btn_azul {
    padding: 10px 50px;
    background-color: $azul;
    color: $branco;
    border-radius: 30px;

    &:hover {
      background-color: $azul2;
    }
  }
}


//TÍTULOS

.tit {
  display: table;
  position: relative;
  margin: 0 auto 30px;
  z-index: 1;
  color: $branco;
  font-weight: 700;
  padding: 5px 0;
  &:before {
    content: '';
    position: absolute;
    width: 105%;
    height: 105%;
    top: 50%;
    left: 50%;
    background-color: $laranja;
    transform: translateX(-50%)translateY(-50%)rotate(1deg);
    z-index: -1;
  }
  &.tit_azul{
    &:before{
      background-color: $azul2;
      transform: translateX(-50%)translateY(-50%)rotate(-1deg);
    }
  }
}


//SLIDER

.slick-dots{
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  li{
    padding: 0 5px;
    button{
      font-size: 0;
      color: transparent;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: transparent;
      border: solid 1px $branco;
      outline: none!important;
      box-shadow: none!important;
    }
    &.slick-active{
      button{
        background-color: $branco;
      }
    }
  }
}
