header#header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  color: $branco;
  background-color: $azul;
  padding: 20px 0;
  transition: all .25s ease;
  .navbar{
    .navbar-brand{
      line-height: 0;
    }
    .nav-item{
      .nav-link{
        padding: 0 15px;
        color: $branco;
        &:hover{
          color: $azul2;
        }
      }
    }
  }
  a.acessar{
    color: $branco;
    vertical-align: middle;
    &:hover{
      color: $azul2;
    }
  }
  &.ativo{
    box-shadow: 0 4px 16px rgba($preto, .1);
    padding: 10px 0;
  }
}
