@media #{$celular} {
  .hero{
    .cont{
      .titulo{
        h1{
          font-size: 3rem;
          span{
            &:after{
              display: none;
            }
          }
        }
      }
    }
  }

  .metodos{
    .tabs_metodologia{
      .nav{
        margin-bottom: 30px;
        .nav-item{
          margin-bottom: 15px;
          width: 100%;
          text-align: center;
          padding: 15px;
        }
      }
    }
  }

  .depoimentos{
    padding: 40px 0 60px;
    .slider_depoimentos{
      .slide{
        .depo{
          font-size: 1.5rem;
        }
        .autor{
          .nome{
            font-size: 18px;
          }
          .desc{
            font-size: 16px;
          }
        }
      }
    }
  }

  .cta{
    padding: 60px 0;
    h2.h1{
      font-size: 2rem;
    }
  }

  .plataforma{
    padding: 60px 0;
    h2{
      font-size: 2rem;
      &.preto{
        opacity: 1;
      }
    }
    br{
      display: none;
    }
  }

  .planos{
    padding: 60px 0;
    .lista_planos{
      display: block;
      .plano{
        max-width: 100%;
        margin-bottom: 30px;
      }
    }
  }

}
