.hero{
  background-color: $azul;
  color: $branco;
  padding: 150px 0 70px;
  position: relative;
  overflow: hidden;
  .cont{
    max-width: 1050px;
    margin: 0 auto;
    position: relative;
    .monstro{
      position: absolute;
      pointer-events: none;
      &.m_1{
        left: -115px;
        top: -50px;
        z-index: 3;
      }
      &.m_2{
        bottom: 0;
        left: 0;
      }
      &.m_3{
        top: -50px;
        right: -115px;
        z-index: 2;
      }
      &.m_4{
        bottom: -50px;
        right: 0;
      }
    }
    .titulo{
      margin-bottom: 40px;
      h1{
        font-size: 50px;
        font-weight: 700;
        span{
          position: relative;
          z-index: 2;
          display: inline-block;
          &:before{
            content: '';
            position: absolute;
            width: 105%;
            height: 105%;
            top: 50%;
            left: 50%;
            transform: translateX(-50%)translateY(-50%);
            z-index: -1;
          }
          &:nth-child(1){
            &:before{
              background-color: #F75B5B;
              transform: translateX(-50%)translateY(-50%)rotate(-1deg);
            }
            &:after{
              content: '';
              position: absolute;
              width: 7px;
              height: 34px;
              background-image: url(../images/uniao.svg);
              background-size: contain;
              background-repeat: no-repeat;
              bottom: -27px;
              left: 37%;
            }
          }
          &:nth-child(2){
            z-index: 1;
            margin-left: 10px;
            &:before{
              background-color: #1ED458;
              transform: translateX(-50%)translateY(-50%)rotate(1deg);
            }
            &:after{
              content: '';
              position: absolute;
              width: 7px;
              height: 34px;
              background-image: url(../images/uniao.svg);
              background-size: contain;
              background-repeat: no-repeat;
              bottom: -25px;
              left: 29%;
            }
          }
          &:nth-child(3){
            margin-top: 10px;
            z-index: 0;
            &:before{
              background-color: $azul2;
            }
          }
        }
      }
    }
    .texto{
      max-width: 830px;
      margin: 0 auto 40px;
    }
  }
}

//MÉTODOS
.metodos{
  position: relative;
  .cobra{
    position: absolute;
    bottom: -10px;
    right: 80px;
    z-index: 1;
    pointer-events: none;
  }
  .tabs_metodologia{
    .nav{
      margin-bottom: 60px;
      border-bottom: 0;
      .nav-item{
        font-size: 25px;
        color: $azul2;
        padding: 24px 80px;
        border-radius: 45px;
        border: solid 1px rgba(#979797, .3);
        transition: all .25s ease;
        &:hover{
          background-color: $azul;
          border-color: $azul;
          color: $branco;
        }
        &.active{
          background-color: $azul2;
          border-color: $azul2;
          color: $branco;
          box-shadow: 0 3px 30px $azul;
        }
      }
    }
  }

  .slider_presentation{
    .slide{
      .cont_slide{
        display: table;
        margin: 0 auto;
        position: relative;
      }
    }
    .slick-dots{
      bottom: 20px;
    }
  }

}

//DEPOIMENTOS
.depoimentos{
  background-color: $laranja;
  color: $branco;
  padding: 100px 0 60px;
  position: relative;
  .ptero{
    position: absolute;
    top: -45px;
    left: 30px;
    pointer-events: none;
  }
  .slider_depoimentos{
    .slide{
      .depo{
        font-size: 40px;
        font-weight: 300;
        margin-bottom: 20px;
      }
      .autor{
        .nome{
          font-size: 30px;
          font-weight: 700;
          line-height: 1;
        }
        .desc{
          font-size: 20px;
          line-height: 1;
        }
      }
    }
  }
}


//PLATAFORMA

.plataforma{
  background-color: #059C5B;
  color: $branco;
  padding: 200px 0;
  background-image: url(../images/bg_plataforma.jpg);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  position: relative;
  .cao{
    position: absolute;
    top: -80px;
    left: 200px;
  }
  .gato{
    position: absolute;
    bottom: -75px;
    right: 200px;
  }
  h2{
    font-size: 50px;
    font-weight: 700;
    &.preto{
      color: $preto;
      opacity: .5;
    }
  }
}


//PLANOS

.lista_planos {
  display: flex;
  align-items: center;
  justify-content: center;

  .plano {
      width: 100%;
      max-width: 400px;
      border-radius: 4px;
      background-color: $branco;
      border: 0;
      position: relative;
      overflow: hidden;
      box-shadow: 0 4px 16px rgba($preto, .1);
      .card-header{
        background-color: #7FDAFF;
        border-radius: 0;
        border: 0;
        padding: 30px;
        position: relative;
        .reco{
          position: absolute;
          color: $branco;
          background-color: $verde;
          font-size: 11px;
          line-height: 1;
          display: table;
          font-weight: 700;
          padding: 5px;
          border-radius: 5px;
          top: -25px;
        }
        .nome{
          font-size: 20px;
          font-weight: 700;
          text-transform: uppercase;
        }
        .valor{
          font-size: 35px;
        }
        .selo{
          position: absolute;
          right: -35px;
          bottom: -50px;
        }
      }
      .card-body{
        padding: 30px;
        .dados{
          ul{
            list-style: none;
            padding: 0;
            margin: 0;
            li{
              position: relative;
              padding-left: 25px;
              margin-bottom: 15px;
              &:before{
                content: '';
                position: absolute;
                width: 15px;
                height: 15px;
                background-color: $verde;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }
        }
        .btn{
          width: 100%;
        }
      }
      &.destaque{
        border: solid 5px $amarelo;
        z-index: 1;
        .card-header{
          background-color: $amarelo;
        }
      }
  }
}
