$azul: #3F94FF;
$azul2: #1E3057;
$azulLight: #7FDAFF;
$laranja: #E97648;
$amarelo: #F5BB42;
$verde: #049B5A;
$cinza: #979797;


$preto: #000000;
$branco: #ffffff;


/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$cubic: cubic-bezier(1, 0, 0.25, 1);

$desktop: "only screen and (min-width : 1200px)";
$tablet: "only screen and (max-width : 992px)";
$celular: "only screen and (max-width : 768px)";
